@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-light: #74a84a;
    --primary-dark: #2c541d;
    --black: #000000;
    --white: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(18, 15, 15, 0.7),rgba(21, 18, 18, 0.7)),url("./img/gifcar.gif");
    background-position: center;
    background-size: cover;
}

#track-header {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("./img/misano-world-circuit-aerial.png");
    background-position: center;
    background-size: cover;
}

#livery-header {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("./img/acc7.png");
    background-position: center;
    background-size: cover;
}

#sponsors-header {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("./img/google3.png");
    background-position: center;
    background-size: cover;
}

#about-header {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(18, 17, 17, 0.7),rgba(22, 21, 21, 0.7)),url("./img/track2.png");
    background-position: center;
    background-size: cover;
}

#maserati-header {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("./img/mas7.png");
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 8px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 18px;
    color: var(--white);
}

nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #e5ff00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

footer ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

footer ul li:hover::after{
    width: 100%;
}

nav .logo {
    font-size: 20px;
    text-indent: -100px;
    color: var(--white);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 150px;
    text-indent: -20px;
}

.header-content h1 {
    font-size: 60px;
    color: var(--white);
    font-weight: 500;
}

.header-content p {
    font-size: 40px;
    color: var(--white);
}

.primary-btn {
    padding: 10px 24px;
    background-color: var(--primary-light);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary-btn:hover {
    background-color: var(--primary-dark);
}

.menu-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    background: var(--primary-light);
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#car-facts {
    display: flex;
    margin-top: 120px;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.facts p {
    font-size: 25px;
    color: grey;
}

.facts img {
    max-width: 100%;
}

#about {
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content h1 {
    font-size: 32px;
    color: var(--black);
    text-transform: uppercase;
}

.about-content p {
    font-size: 20px;
}

#about img {
    max-width: 100%;
}

#refrences {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("./img/track.png");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    margin-top: 120px;
}

.refrences-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    gap: 16px;
    padding: 0 16px;
}

.refrences-content h1 {
    color: var(--white);
}

.refrences-content p1 {
    color: var(--white);
    
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

footer .logo {
    color: var(--primary-dark);
}

@media only screen and (max-width: 520px) {
    #header {
        min-height: 50vh;
    }
    .header-content h1 {
        font-size: 32px;
    }
    .header-content p {
        font-size: 24px;
    }
    nav {
        padding: 16px;
    }
    .menu-btn {
        display: block;
    }
    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: gray;
        width: 80%;
        height: 100%;
        align-items: end;
        padding-top: 80px;
        margin-right: -900px;
        transition: all 0.3s ease;
    }
    nav ul.active {
        margin-right: 0;
    }
    nav li {
        border-bottom: 1px solid var(--primary-dark);
        width: 100%;
        padding: 8px 16px;
        text-align: right;
    }
    footer {
        flex-direction: column;
        align-items: center;
        padding: 32px 0;
    }
}

